body{
    font: normal 18pt Arial;
    background-color: rgb(199, 163, 232);
    color: rgb(56, 11, 97);
    text-align: center;
}

input{
    font: normal 18pt Arial;
    width: 100px;
}

div#res{
    margin-top: 20px;
}